body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#card {
  margin:20px;
  min-width:200px;
  width:400px;
}

#addInput {
  background-color: white;
}

#navbar {
  min-height: 60px;
}

.finished-task {
  text-decoration: line-through !important;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #card {
    font-size:7px;
    margin:0px;
    width:100vw;
    min-height:100vh;
    padding-bottom:0px;
  }
  #addInput {
    position: fixed;
    right: 0;
    bottom: -20px;
    left: 0;
    z-index: 1030; 
  }
}
